/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1258px) {
    .search_field{
        display: none;
    }
    .search_icon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f0f2f5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
       
    }
    .profile{
        display: none;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    main .left_side_area{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}