/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1258px) {
    .search_field{
        display: none;
    }
    .search_icon{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #f0f2f5;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 8px;
       
    }
    .profile{
        display: none;
    }
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .middle_area ul li:nth-child(5){
        display: none;
    }
    .middle_area ul li:last-child{
        display: block;
    }
    .main_name_logo ul .plus{
        display: block;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f0f2f5;
        border-radius: 50%;
        
    }
    .main_name_logo ul .apps{
        display: none;
    }
    main .left_side_area{
        display:none;
    }
    .middle_area ul li {
        margin: 0 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 768px) {
    .middle_area ul li:first-child, li:nth-child(2), li:nth-child(3), li:nth-child(4){
        display: none;
    }
    .right_side_area{
        display: none;
    }
}