@font-face {
    font-family: segoe;
    src: url('/fonts/Segoe\ UI.ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: segoe;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*==================
    header style 
====================*/
header{
    height: 56px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0 2px 3px #dee0e3;
    border-bottom: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 15px;
    background-color: white;
    z-index: 100000000000000000;
}
.logo_area{
    display: flex;
    align-items: center;
}
.logo img{
    height: 40px;
    width: 40px;
}
.search_field{
    display: flex;
    align-items: center;
    width: 280px;
    height: 40px;
    background-color: #f0f2f5;
    border-radius: 25px;
    padding: 8px 8px;
    margin-left: 8px;
}
/*====================
    for responsive
======================*/
.search_icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    
}
.search_icon span{
    color: #606770;
}
.search_field input{
    width: 252px;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    margin-left: 10px;

}
.search_field input::placeholder{
    color: #606770;
    font-size: 16px;
}
.search_field span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #606770;
    font-size: 24px;
    font-weight: 500px;
    margin-left: 5px;
}
/*===================
    Middle style 
=====================*/
.middle_area ul{
    display: flex;
    align-items: center;
}
.middle_area ul li{
    margin: 0 5px;
    position: relative;
    transition: 0.3s;
}
.middle_area ul li a span{
    font-size: 30px;
    color: #606770;
}
.middle_area ul li:nth-child(5){
    display: block;
}
.middle_area ul li:last-child{
    display: none;
}
.middle_area ul li a{
    display: inline-block;
    padding: 10 30px;
    padding: 8px 38px;
    border-radius: 8px;
    position: relative;
    transition: 0.3s;
}
.middle_area ul li a:hover{
    background-color: #f0f2f5;
}
.middle_area ul li .item-one::after {
    content: "9+";
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #e41e3f;
    border-radius: 15px;
    padding: 2px 6px;
    right: 22px;
    bottom: 30px;
    position: absolute;
}


.middle_area ul li .item-two::after {
    content: "3+";
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #e41e3f;
    border-radius: 15px;
    padding: 2px 6px;
    right: 22px;
    bottom: 30px;
    position: absolute;
}
.middle_area ul #market:hover:after {
    content: "Marketplace";
    outline: 0;
    border: 0;
    color: #dadada;
    background-color: #313131eb;
    position: absolute;
    bottom: -42px;
    left: 1%;
    padding: 6px 11px;
    border-radius: 10px;
    opacity: 1;
    transform: translateX(50%px);
}
.middle_area ul li:hover::after {
    content: attr(data-tag);
    outline: 0;
    border: 0;
    color: #dadada;
    background-color: #313131eb;
    position: absolute;
    bottom: -42px;
    left: 18%;
    padding: 6px 11px;
    border-radius: 10px;
    opacity: 1;
    transform: translateX(50%px);
}
/*==========================
    main_name_logo style 
============================*/
.main_name_logo ul{
    display: flex;
    align-items: center;
}
.main_name_logo ul li{
    margin: 0 5px;
}
.profile{
    display: block;
}
.profile a img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.main_name_logo ul .plus{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 50%;
    display: none;
}
.main_name_logo ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 600;
    transition: 0.3s;
}
.main_name_logo ul li a{
    border-radius: 25px;
    padding: 4px 8px 4px 5px;
}
.main_name_logo ul li a:hover{
    background-color: #f0f2f5;
}
.main_name_logo ul li a span{
   padding-left: 6px;
}
.main_name_logo ul .apps{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px;
    background-color: #f0f2f5;
    transition: 0.3s;
}
.main_name_logo ul .apps:hover{
    background-color: #d8dbe2;
}
.main_name_logo ul .fab{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px;
    background-color: #f0f2f5;
    position: relative;
    transition: 0.3s;
}
.main_name_logo ul .fab:hover{
    background-color: #d8dbe2;
}
.main_name_logo ul .fab::after {
    content: "6";
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #e41e3f;
    border-radius: 15px;
    padding: 3px 6px;
    right: 0px;
    bottom: 29px;
    position: absolute;
}
.main_name_logo ul .bell{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px;
    background-color: #f0f2f5;
    position: relative;
    transition: 0.3s;
}
.main_name_logo ul .bell:hover{
    background-color: #d8dbe2;
}
.main_name_logo ul .bell::after {
    content: "20+";
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    background-color: #e41e3f;
    border-radius: 15px;
    padding: 2px 6px;
    right: -15px;
    bottom: 27px;
    position: absolute;
}

.main_name_logo ul .drop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 0px;
    background-color: #f0f2f5;
    transition: 0.3s;
}
.main_name_logo ul .drop:hover{
    background-color: #d8dbe2;
}
/*============================
      aside area start 
==============================*/
main{
    max-width: 1536px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
.left_side_area, .right_side_area{
    height: 100vh;
    flex-basis: 360px;
}
.left_side_area{
    padding: 80px 10px 15px 10px;
    background-color: #f0f2f5;
    
}
main .left_side_area{
    display:block;
}
.left_side_area{
    overflow: auto;
    
}
.middle_side_area{
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.349);
}
.left_side_area ul{
   width: 100%;
}
.left_side_area ul li{
    padding: 9px 11px;
    border-radius: 7px;
    border: none;
    outline: none;
    transition: 0.3s;
}
.left_side_area ul li:hover {
    background-color: #e9e9e9;
    
}
.left_side_area ul li a{
    display: flex;
    align-items: center;
    color: #3c3c3c;
    font-weight: 600;
}
.left_side_area ul li a img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.left_parent .left_img img{
    border-radius: 50%;
}
.left_side_area ul li:last-child a div{
    display: flex;
    align-items: center;
    color: #3c3c3c;
    font-weight: 600;

}
.left_side_area ul li:last-child a div{
   
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}
.separator {
	width: 100%;
	height: 0.1px;
	background: #cccccc;
	margin-top: 10px;
	margin-left: 5px;
}
.short_title {
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
    margin-left: 10px;
    height: 28px;

}
.short_title h4{
    color:#6b6b6b ;
    width: 105px;
}
.short_btn{
    width: 50px;
    color:rgb(71, 71, 230) ;
    font-weight: 500;
    border: none;
    outline: none;
    padding: 7px 7px;
    border-radius: 5px;
    background-color: #f0f2f5;
    
}
.short_btn{
    display: none;
}
.short_title .short_btn:hover{
    background-color: #e9e9e9;
}
.short_title:hover .short_btn{
    display: block;
    width: 50px;
 }
 

.left_side_area .short_area {
    width: 100%;
    padding-top: 0;
    margin-top: 10px;
 }
.short_area li{
     padding: 9px 11px;
     border-radius: 7px;
     border: none;
     outline: none;
     margin: 5px 0;
 }
 .short_area li:hover {
     background-color: #f0f2f5;
     
 }
 .short_area li a{
     display: flex;
     align-items: center;
     color: #3c3c3c;
     font-weight: 600;
 
 }
 .short_area li a img{
     width: 30px;
     height: 30px;
     margin-right: 10px;
     border-radius: 50%;
 }
 .left_side_area .short_area .not_round a img{
     width: 30px;
     height: 30px;
     margin-right: 10px;
     border-radius: 5px;
 }
 /* =====================
    customize scrollbar
 =======================*/
 /* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ced0d4;
    border-radius: 40px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ced0d4; 
  }
  /*======================= 
    copyright logo area 
  ========================*/
  .footer_area{
      padding: 0 15px;
      max-width: 393px;
  }
  .footer_area a{
      color: #7f8081;
      font-weight: normal;
        line-height: 15px;
        font-size: 12px;
        display: inline-block;
  }
  .footer_area a:nth-child(5){
      display: inline-block;
  }
  .footer_area a span {
    transform: translateY(8px);
}
/*======================= 
    right side area 
=========================*/
.right_side_area{
    padding: 80px 10px 15px 10px;
    background-color: #f0f2f5;
    overflow: auto;
    z-index: 10000000;
}
.birth_parent{
    background-color: white;
    padding: 16px 16px;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-bottom: 18px;
}
.birthday_area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.birth_img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
}
.birth_img img{
    height: 28px;
    width: 28px;
    margin-right: 8px;
}
.times_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    transition: 0.2s;
}
.times_icon:hover{
    background-color: #f0f2f5;
}
.birth_parent p{
   padding: 12px 4px;
}
.birth_parent p a{
    font-weight: 600;
    color: #3c3c3c;
}
.inner_sponsor h3{
    color: #6b6b6b;
    padding: 18px 0;
}
.sponsor_parent{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px;
    border-radius: 8px;
    transition: 0.3s;
}
.sponsor_img img{
    width: 130px;
    height: 130px;
    border-radius: 8px;
}

.sponsor_text{
   position: relative;
   max-width: 207px;
}
.sponsor_text .sponsor_dot span{
   color: #969696;
}
.sponsor_dot {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 0.1px solid #cac7c7;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    position: absolute;
    left: 130px;
    top: -48px;
    display: none;
}
.sponsor_parent:hover{
    background-color: #e9e9e9;
}
.sponsor_parent:hover .sponsor_dot{
    display: block;
    background-color: #e9e9e9;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    border: 0.1px solid #cac7c7;
    position: absolute;
    left: 130px;
    top: -48px;
}
.contact {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
}
.contact h3 {
    color: #6b6b6b;
}
.contact_icon{
    display: flex;
    align-items: center;
}
.contact_icon div span{
    color: #6b6b6b;
}
.contact_icon div{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
.contact_icon div:hover{
    background-color: #bbbcbd96;
}
.contact .contact_icon div{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right_side_area ul{
    width: 100%;
 }
 .right_side_area ul li{
     padding: 9px 11px;
     border-radius: 7px;
     border: none;
     outline: none;
     transition: 0.3s;
 }
 .right_side_area ul li:hover {
     background-color: #e9e9e9;
     
 }

.active_people li a{
   display: flex;
   align-items: center;
   font-weight: 600;
   color: rgb(60, 60, 60);
   position: relative;
}
.active_people li img{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-right: 10px;
    
   
}
.active_people li a::after {
    content: " ";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    left: 25px;
    bottom: 1px;
    background-color: #31a24c;
    position: absolute;
    border: 1px solid #fff;
}
/*==========================
     Middle area style 
============================*/
.middle_side_area{
    padding: 80px 90px;
    background-color: #f0f2f5;
}
.inner_story{
    max-width: 745px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.story{
    height: 198px;
    width: 119px;
    border-radius: 11px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.inner_story .profile_story{
    display: flex;
    flex-direction: column;
}
.profile_story .profile{
    width: 100%;
    flex-grow: 1;
    transition: 3s;
}
.profile_story .profile img{
    transition: 0.3s;
}
.profile_story .profile:hover img{
    transform: scale(1.1);
}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.create_story{
    flex-basis: 49px;
    background-color: #fff;
    position: relative;
}
.create_story{
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
}
.create_story h4{
   font-size: 13px;
   margin-bottom: 10px;
}
.create_story .create_add {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(214deg 89% 52%);
    border: 4px solid hsl(180deg 100% 100%);
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
}
.create_story .create_add span{
   color: hsl(180deg 100% 100%);
}
.day_profile img {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: 3px solid hsl(214deg 89% 52%);
    position: absolute;
    top: 11px;
    left: 11px;
    z-index: 1000000;
}
.day_story{
    width: 100%;
    height: 100%;
}
.day_story img{
    width: 100%;
    height: 100%;
}
.story_name{
    position: absolute;
    bottom: 7px;
    left: 16px;
}
.story_name h4{
   color: hsl(180deg 100% 100%);
   font-size: 14px;
}
.day_story img{
    transition: 0.3s;
}
.day_story:hover img{
    transform: scale(1.1);
}
.story_arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #dbdddf;
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    cursor: pointer;
}
.story_arrow span{
    color: #65676b;
}
.story_arrow:hover::after {
    content: attr(data-tag);
    width: 72px;
    padding: 8px 20px;
    background-color: rgba(51, 51, 51, 0.89);
    color: white;
    font-size: 12px;
    border-radius: 8px;
    right: -36px;
    bottom: -35px;
    position: absolute;
}
/*======================
    Activity style 
========================*/
.inner_activity{
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    margin-top: 26px;
    padding: 12px 16px;
    border-radius: 11px;
}
.activity_area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.activity_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
}
.activity_field{
    max-width: 420px;
    height: 40px;
    width: 100%;
    background-color: #f0f2f5;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
}
.activity_field input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    font-size: 17px;
    cursor: pointer;
}
.activity_icon{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 14px 0 0px;
}
.activity_icon div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.activity_icon div h4{
   color: #65676b;
}
.activity_icon div{
  padding: 6px 16px;
  border-radius: 8px;
}
.activity_icon div:hover{
  background-color: #f0f2f5;
}
.video_icon span{
   color:  #f3425f;
   font-size: 30px;
   margin-right: 5px;
}
.photo_icon span{
   color:  #45bd62;
   font-size: 30px;
   margin-right: 5px;
}
.feeling_icon span{
   color:  #f7b928;
   font-size: 30px;
   margin-right: 5px;
}